@charset "UTF-8";

/* ========BASIC======== */
html {
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	padding-bottom: 50px;
	line-height: 1.6;
	letter-spacing: 1px;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,
		'ＭＳ Ｐゴシック', sans-serif;
	border-top: 5px solid #9B0000;
	background: url("../images/haikei.jpg");
	background-attachment: fixed;
	background-repeat:repeat;
}

br {
	letter-spacing: normal;
}

a {
	color: #5A482B;
	text-decoration: none;
}

a:hover {
	color: #C94C00;
}

p {
	font-size: 20px;
}

p2 {
	font-size: 15px;
	position: relative;
	right: 20px;
}

img {
	border: 0;
	vertical-align: bottom;

}

hr{
	text-align:center;
}

.clear {
	clear: both;
}

/* ========TEMPLATE LAYOUT======== */
#headWrap {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
	background: url("../images/haikei2.jpg");
}

#header {
	position: relative;
	width: 787px;
	height: 100px;
	margin: 0 auto;
	background: url("../images/haikei2.jpg");
}

#pr {
	font-size: 14px;
	color: #5A482B;
	position: absolute;
	left: 5px;
	top: 0;
	width: 787px;
}

#gnavi {
	position: absolute;
	bottom: 0;
	right: 0;
}

#menu {
	width: 100%;
	background: url("../images/haikei2.jpg");
	border-bottom-style: solid;
	border-bottom-color: #d8d8d8;
}

/* ホーム画面 */
#icatch {
	width: 825px;
	padding-bottom: 20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#icatch img {
	width: 830px;
}


/* プランのdiv */
#contents {
	clear: both;
	width: 830px;
	margin: auto;
	padding: 10px;
}

/* お料理のdiv */
#main {
	text-align: center;
	margin: 0 auto;
}


#sub {
	float: left;
	width: 200px;
}

#pageTop {
	clear: both;
}

footer {
	z-index: 100;
	height: 40px;
	width: 100%;
	background: #EBEADD;
	border-bottom: 5px solid #9B0000;
	position: fixed; /* 絶対位置指定することを定義 */
	bottom : 0px;
	/* 絶対位置指定(左0px,下0px) */
	font-size: 11px;
	font-style: normal;
	color: #333;
	text-align: center;
}

/* ページTOPに戻る */
#back_btn {
	font-size: 15px;
	position: fixed;
	bottom: 40px;
	right: 10px;
}

.page_header {
	margin: 0 auto;
	text-align: center;
	position: static;
}

.page_header img {
	width: 830px;
}

.page_header h2 {
	font-family: Georgia, "MS 明朝", "Hiragino Mincho Pro W3", "ヒラギノ明朝 Pro W3",serif;
	font-size: 23px;
	color: #fff;
	position: relative;
	bottom: 150px;
	left: 180px;

}

/* ========パンくず CUSTOMIZE======== */

/* リスト */
ol.topic-path {
width: 830px;
margin: 0 auto; /* マージン（上下左右） */
padding: 5px 5px; /* パディング（上下、左右） */
list-style-type: none; /* リストマーク非表示 */
font-size: 5px; /* 文字サイズ */
}
/* リスト項目 */
ol.topic-path li {
padding-left: 5px; /* 左パディング */
display: inline; /* 項目を横並び */
}
/* リスト項目（最初の項目） */
ol.topic-path li.first {
padding-left: 25px; /* 左パディング */
background: url(../images/topic-path-home-black.png) no-repeat left; /* ホーム記号（※） */
}
/* リンクエリア */
ol.topic-path li a {
padding-right: 18px; /* 右パディング */
background: url(../images/topic-path-gray.gif) no-repeat right; /* 矢印記号（※） */
}
/* リンク色 */
ol.topic-path li a {
color: #4682b4;
}
/* リンク色（マウスオーバー） */
ol.topic-path li a:hover {
color: #79a7cc;
}

/* ========HEADER CUSTOMIZE======== */
#header h1 {
	margin: 10px;
	padding-top: 25px;
	font-size: 40px;
}

#header h1 a {
	color: #9B0000;
}

#header h1 a:hover {
	color: #D30000;
}

#header #pr p {
	margin: 0;
	font-size: 11px;
}

#header #gnavi ul {
	list-style: none;
}

#header #gnavi li {
	float: left;
	font-size: 11px;
	margin-left: 15px;
}

#header #gnavi li a {
	display: block;
}

#header #gnavi .tel {
	color: #C94C00;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1.0;
}

/* ========MENU CUSTOMIZE======== */

#menu ul {
	width: 830px;
	margin: 0 auto;
	padding: 0;
}

#menu li {
	float: left;
	color: #333;
	text-align: center;
	list-style-type: none;
}

#menu li a {
	display: block;
	width: 116px;
    line-height: 60px;
	border-right: 2px solid #D8D8D8;
	font-family: Georgia, "MS 明朝", "Hiragino Mincho Pro W3", "ヒラギノ明朝 Pro W3",
		serif;
	color: #3F2A0F;
	font-weight: bold;
	font-size: 14px;
}

#menu li.home a {
	border-left: 2px solid #D8D8D8;
}

#menu li a:hover {
	color: #C94C00;
	z-index: 100;
}


/*============= jumpボタン ==============*/

.jump {
	width: 830px;
    margin: -25px auto;
}

.jump ul {
	text-align: center;
	list-style-type: none;
	padding-left: 0;
}

.jump li {
	display: inline-block;
}

.jump li a {
	display: block;
	width: 250px;
	line-height: 75px;
	font-family: Georgia, "MS 明朝", "Hiragino Mincho Pro W3", "ヒラギノ明朝 Pro W3",serif;
	color: #120f3f;
	font-weight: bold;
	font-size: 30px;
}

.jump img {
	width: 210px;
	height: 140px;
	border-radius: 120px;
}

/* ========PLAN CONTENTS CUSTOMIZE======== */
#plan {
	height: 240px;
	width: 830px;
	font-size: 20px;
	font-color: #676767;
	border-style: solid;
	border-width: 1px;
	background: url("../images/plan.jpg");
	background-size: cover;
	background-position: right;
	margin-top: 0px;
	margin-bottom: 20px;
	position: relative;
}
#plan pre {
	color: #676767;
}

#plan hr {
	margin: 0px;
}


#plan img {
	width: 250px;
	height: 180px;
	margin: 13px 13px;
}

#plan a img {
	width: 135px;
	height: 45px;
	position: absolute;
	right: 3px;
	bottom:3px;
}


/* ========DETAIL CONTENTS CUSTOMIZE======== */


#detail {
	height: 450px;
	width: 800px;
	font-size: 20px;
	font-color: #676767;
	border-style: solid;
	border-width: 1px;
	background: url("../images/plan.jpg");
	background-size: cover;
	margin-top: 0;
	position: relative;
}
#detail pre {
	color: #676767;
}

#detail hr {
	margin: 0px;
}


#detail img {
	height: 180px;
	margin: 100px 13px;
}

#detail a img {
	height: 45px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	margin: 0px;
}

/* ========ROOM CONTENTS CUSTOMIZE======== */


.room {
	width: 830px;
	margin: 0 auto;
	padding-bottom: 50px;
}



.addbullet {
	text-align: left;
}


.room h3 {
	font-family: Georgia, "MS 明朝", "Hiragino Mincho Pro W3", "ヒラギノ明朝 Pro W3",serif;
	background: url(../images/h3.gif) no-repeat left top;
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 5px;
	line-height: 1;
	color: #432f2f;
}

.room table {
	border: 0;
	width: 830px;
}

.room img {
	margin: 0;
}

.roomsyoukai {
	padding-left: 150px;
}

.room1 {
	width: 565px;
	height: 373;
}

.room2 {
	width: 264px;
}

.madori {
	width: 235;
}
/* ========SYSTEM CONTENTS CUSTOMIZE======== */

#system h2 {
	margin: 30px 0 0 15px;
	clear: both;
	padding-top: 20px;
}

#system hr {
	width: 830px;
}

#system table {
	border: 0;
	width: 830px;
	cellpadding: 0;
	cellspacing: 0;
}

#system img {
	margin: 0;
}

#bath1 {
	width: 608px;
	height: 304px;
}

#bath2 {
	width: 220px;
	height: 140px;
}

#bath3 {
	width: 415px;
	height: 160px;
	border: 0;
}

#system2 h2 {
	margin: 30px;
}

#system2 hr {
	width: 830px;
}

#system2 table {
	border: 0;
	width: 830px;
	cellpadding: 0;
	cellspacing: 0;
}

#system td {
	margin-right:0;
	padding-right:0;
}

#system2 img {
	margin: 0;
}

#view1 {
	width: 563px;
	height: 283px;
}

#view2 {
	width: 258px;
}

#view3 {
	width: 410px;
	border: 0;
}

#system3 {
	margin: 0px 100px;
}

#system3 table {
	width: 830px;
	vertical-align: middle;
	border-color: gray;
	border-collapse: collapse;
}

#system3 th {
	background: none repeat scroll 0 0 #F1EBE5;
	color: #6F5523;
	text-align: center;
	margin: 0px 10px;
	padding: 5px 10px;
	width: 190px;
	height: 40px;
}

#system3 td {
	background: none repeat scroll 0 0 #fff9ff;
	color: #878787;
	padding: 12px 15px;

}

/* ========FOOD CONTENTS CUSTOMIZE======== */


#main_morning {
	width: 830px;
	margin: 0 auto;
	clear: both;
	padding-top: 20px;
}

.img1 {
	width: 271px;
	height: 220px;
}

.img2 {
	width: 410px;
	height: 270px;
}

#main_dinner {
	width: 830px;
	margin: 50px auto 80px auto;
	clear: both;
	padding-top: 20px;
}

/* ========ACCESS CONTENTS CUSTOMIZE======== */

#main table {
	margin: 0 auto 30px auto;
	width: 830px;
}

#googlemap {
	margin:0 auto;
}

#access_png {
	width:830px;
	margin: 0 auto;
}

#access_guide img{
	width: 830px;
	text-align: center;
}

#access_route1 {
	text-align: left;
	width:516px;
	margin: 0 auto;
}



#access_route2 {
	text-align: left;
	width: 516px;
}

/* ========PAGETOP CUSTOMIZE========= */
#pageTop {
	padding: 20px 0;
	text-align: right;
	font-size: 11px;
}

/* ========FORM CUSTOMIZE========= */
#formtable{
	position: relative;
	bottom: 200px;
}

#form table {
	height: 300px;
	width: 830px;
	vertical-align: middle;
	border-color: gray;
	border-collapse: collapse;
}

#form th {
	background: none repeat scroll 0 0 #F1EBE5;
	color: #6F5523;
	text-align: center;
	margin: 0px 20px;
	padding: 5px 95px;
	width: 190px;
	height: 55px;
}

#form td {
	background: none repeat scroll 0 0 #fff9ff;
	color: #878787;
	padding: 10px 95px;
}

#btn {
	position: relative;
	bottom: 150px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    color: #FFF;
    width: 100px;
    padding: 10px 0;
}

#kiyaku{
	position:relative;
	bottom: 170px;
}

/* ========ACCEPT CUSTOMIZE========= */
#accept{
	position: relative;
	top: 30px;
	font-size: 15px;
}

#accept table {
	height: 100px;
	width: 500px;
	vertical-align: middle;
	border-color: gray;
	border-collapse: collapse;
	position: relative;
	bottom: 10px;
}

#accept th {
	background: none repeat scroll 0 0 #F1EBE5;
	color: #6F5523;
	text-align: center;
	margin: 0px 20px;
	padding: 5px 10px;
	width: 190px;
	height: 30px;
}

#accept td {
	background: none repeat scroll 0 0 #fff9ff;
	color: #878787;
	padding: 12px 15px;
}

#OK {
	position: relative;
	bottom: 33px;
	left: 70px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    color: #FFF;
    width: 100px;
    padding: 10px 0;
}

#return {
	position: relative;
	top: 20px;
	right: 70px;
    background: white;
    border: 1px solid #9B0000;
    color: #9B0000;
    width: 100px;
    padding: 10px 0;
}

#error{
	width: 1349px;
	text-align: center;
	position: absolute;
	top: 250;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

#return_error {
	position: relative;
	top: 20px;
	right: 70px;
    background: white;
    border: 1px solid #9B0000;
    color: #9B0000;
    width: 100px;
    padding: 10px 0;
}

