@CHARSET "UTF-8";

body{
	margin: 0 auto;
}
header{
	font-family: 'Meiryo';
	color: white;
	background-color:#9B0000;
	padding: 20px;
	font-size:20px;
	text-align: left;
}

footer{
	width: 100%;
	height: 50px;
	background: #fff;
	border-top: 5px solid #9B0000;
	position: fixed; /* 絶対位置指定することを定義 */
	bottom : 0px;
	/* 絶対位置指定(左0px,下0px) */
	font-size: 11px;
	font-style: normal;
	color: #333;
	text-align: right;

}

a:visited{color:#333;}
a:hover{color:#ed1243;}
a {text-decoration: none;}


h1{
	font-size: 20px;
	margin-left:80px;
	margin-right:80px;
}

.center{
	padding-top: 100px;
}

#side{
	float: left;
	width: 20%;
	height: 100%
	border-right: 1px dashed #000;
}

#contents{
	width: 80%;
	text-align: center;
	min-height: 100%;
	margin: 0 auto;
	padding-top: 10px;
	float: left;
}

#side ul{
	list-style: none;
}

#side ul li a{
	color: #555;
//	text-decoration:none;
	font-size: 15px;
	line-height: 20px;
}

#login {
	position: relative;
	top: 20px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    color: #FFF;
    width: 100px;
    padding: 10px 0;
}

#login_form{
	width: 100%;
	margin-top: 100px;
	margin-left: 130px;
}

#top {
	float: right;
	width: 200px;
	height: 50px;
	top: 20px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    font-color: #FFF;
}

#plan {
	float: right;
	width: 200px;
	height: 50px;
	top: 20px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    font-color: #FFF;
}

#reserve {
	display: block;
	float: right;
	width: 200px;
	height: 50px;
	top: 20px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    font-color: #FFF;
}

#logout {
	float: right;
	width: 200px;
	height: 50px;
	top: 200px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    font-color: #FFF;
}

#img {
	float: right;
	width: 200px;
	height: 50px;
	top: 20px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    font-color: #FFF;
}

#plan_info{
	width: 500px;
	margin-bottom: 90px;

}

#plan_info table {
	height: 100px;
	width: 500px;
	vertical-align: middle;
	border-color: #f0c584;
	border-collapse: collapse;
	border:1px solid #333;
	margin-right: 50px;
}

#plan_info th {
	background: none repeat scroll 0 0 #fafdb7;
	color: #6F5523;
	text-align: center;
	margin: 0px 20px;
	padding: 5px 10px;
	width: 190px;
	height: 30px;
}

#plan_info .td1 {
	background: none repeat scroll 0 0 #fdffd9;
	color: #878787;
	width: 250px;
	padding: 12px 15px;
}

#plan_info td {
	background: none repeat scroll 0 0 #fdffd9;
	color: #878787;
	padding: 12px 15px;
}

#change {
	float: right;
	width: 100px;
	height: 50px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
	margin-top: 400px;
	margin-right: 80px;
	margin-bottom: 90px;
}

#plan_info_div{
margin-bottom: 90px;
}

.border{
	float: right;
	width:800px;
	position: relative;
	right: 200px;
}

#plan_change {
	margin-bottom: 90px;
	margin-left: 720px;
	width: 100px;
	height: 50px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
}

#div_border{
	position:relative;
	left: 200px;
}

#logoutpage{
	margin-left: 250px;
	margin-top: 150px;
}

#image_upload1{
	float: left;
	margin-top: 20px;
	margin-left: 200px;
}

#image_upload2{
	float: right;
	margin-top: 80px;
	margin-right: 220px;
}

.upload_btn{
	float: right;
	margin-top:30px;
	margin-left: 30px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
	padding: 10px 10px;
}


#plan_add{
	margin-left: 150px;
}

#plan_add table {
	height: 100px;
	width: 500px;
	vertical-align: middle;
	border-color: #f0c584;
	border-collapse: collapse;
	border:1px solid #333;
	margin-right: 100px;
}

#plan_add th {
	background: none repeat scroll 0 0 #fafdb7;
	color: #6F5523;
	text-align: center;
	margin: 0px 20px;
	padding: 5px 10px;
	width: 190px;
	height: 30px;
}

#plan_add .td1 {
	background: none repeat scroll 0 0 #fdffd9;
	color: #878787;
	width: 250px;
	padding: 12px 15px;
}

#plan_add td {
	background: none repeat scroll 0 0 #fdffd9;
	color: #878787;
	padding: 12px 15px;
}

#reserve_btn2{
	float: right;
	margin-right: 100px;
	margin-top: 150px;
	width: 100px;
	height: 30px;
    background:linear-gradient(#9B0000,#9B0000);
    border: 1px solid #DDD;
    color:white;
	}

#reserve_info{
	width: 500px;
	margin-bottom: 90px;
	margin-right: 100px;
}

#reserve_info table {
	height: 100px;
	width: 500px;
	vertical-align: middle;
	border-color: #f0c584;
	border-collapse: collapse;
	border:1px solid #333;
	margin-right: 50px;
}

#reserve_info th {
	background: none repeat scroll 0 0 #fafdb7;
	color: #6F5523;
	text-align: center;
	margin: 0px 20px;
	padding: 5px 10px;
	width: 190px;
	height: 30px;
}

#reserve_info .td1 {
	background: none repeat scroll 0 0 #fdffd9;
	color: #878787;
	width: 250px;
	padding: 12px 15px;
}

#reserve_info td {
	background: none repeat scroll 0 0 #fdffd9;
	color: #878787;
	padding: 12px 15px;
}
